tqdm

torch==1.13.1+cu116 
torchvision==0.14.1+cu116 
torchaudio==0.13.1 
--extra-index-url https://download.pytorch.org/whl/cu116
torchinfo

pylangacq
librosa

pandas
numpy
scikit-learn
pyyaml
matplotlib
seaborn

tiktoken
git+https://github.com/huggingface/transformers.git
flash-attn
