tqdm

torch 
torchvision 
torchaudio 
--index-url https://download.pytorch.org/whl/cu118
torchinfo

pylangacq
librosa

pandas
numpy
scikit-learn
pyyaml
matplotlib
seaborn

tiktoken
git+https://github.com/huggingface/transformers.git
flash-attn
